[BUG] Request IP from windows DHCP server failed during installation

**Describe the bug**
<!-- A clear and concise description of what the bug is. -->
![image](https://user-images.githubusercontent.com/7421463/217470992-7687b5e7-b7ae-4171-9d11-e01dc8e3ec2d.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Set up windows DHCP server 2016
2. Set up a new Harvester and use DHCP mode to request the IP

**Expected behavior**
<!-- A clear and concise description of what you expected to happen. -->
Request IP from windows DHCP server successfully.

**Support bundle**
<!--
You can generate a support bundle in the bottom of Harvester UI (https://docs.harvesterhci.io/v1.0/troubleshooting/harvester/#generate-a-support-bundle). It includes logs and configurations that help diagnose the issue.

Tokens, passwords, and secrets are automatically removed from support bundles. If you feel it's not appropriate to share the bundle files publicly, please consider:
- Wait for a developer to reach you and provide the bundle file by any secure methods.
- Join our Slack community (https://rancher-users.slack.com/archives/C01GKHKAG0K) to provide the bundle.
- Send the bundle to harvester-support-bundle@suse.com with the correct issue ID.  -->


**Environment**
 - Harvester ISO version: v1.1.1
 - Underlying Infrastructure (e.g. Baremetal with Dell PowerEdge R630): Dell PowerEdge R630

**Additional context**
Add any other context about the problem here.


Update workaround for 1.1.2: https://github.com/bk201/harvester-installer/blob/sure-5716-2/doc/skip-code-dhcp.md

ok, so this is still an issue for 1.20?  The work around says 1.1.2 iso.  So is the work around then install 1.1.2 install workaround, then upgrade to 1.2.0?

@Daxcor69 Have you already encountered such issue in your environment? When yes, could you confirm:

(1) Was it same to get management-IP through Windows DHCP server failed?
(2) Was >= 2 interfaces used or only 1 interface used in management network?
(3) Was VLAN ID also used?

We are looking for an reproduceable setting, if it is simple enough, with only one interface and without VLAN ID, will be helpful for trouble-shooting, thanks.

Though no windows dhcp server on hand, there are some useful information to refer:

https://learn.microsoft.com/en-us/windows-server/troubleshoot/dynamic-host-configuration-protocol-basics

This error comes from 
https://github.com/insomniacslk/dhcp/blob/ddd8a41251c972b56f2e360558a0dd156851f921/dhcpv4/nclient4/client.go#L464

the first DHCPDiscover has no response, most probably, some options are wrong/missing.

The most notable difference between Harvester installer dhcp client and a normal vm dhcp client:

it sets the `MSZ Option 57` with `1500` instead of normal value `576`

![image](https://github.com/user-attachments/assets/3427834c-bb16-4f96-b305-43492fab9cd6)

https://github.com/insomniacslk/dhcp/blob/ddd8a41251c972b56f2e360558a0dd156851f921/dhcpv4/nclient4/client.go#L38
```
	// MaxMessageSize is the value to be used for DHCP option "MaxMessageSize".
	MaxMessageSize = 1500
```

And it forcely set this option on client side

```
// DiscoverOffer sends a DHCPDiscover message and returns the first valid offer
// received.
func (c *Client) DiscoverOffer(ctx context.Context, modifiers ...dhcpv4.Modifier) (offer *dhcpv4.DHCPv4, err error) {
	// RFC 2131, Section 4.4.1, Table 5 details what a DISCOVER packet should
	// contain.
	discover, err := dhcpv4.NewDiscovery(c.ifaceHWAddr, dhcpv4.PrependModifiers(modifiers,
		dhcpv4.WithOption(dhcpv4.OptMaxMessageSize(MaxMessageSize)))...)
	if err != nil {
		return nil, fmt.Errorf("unable to create a discovery request: %w", err)
	}
```

Given the fact that the MTU is 1500 and L2 head with VLAN ID, the DHCPDiscover message itself to be max 1500 is making no sense.

Maybe due to this, it caused the `DHCPDiscover` was dropped by windows server.

added `backport-needed/1.3.2` issue: #6259.

@w13915984028 Does https://github.com/harvester/harvester-installer/pull/779 fix the issue? I'm planning 1.3.2 and want to see if we should include https://github.com/harvester/harvester/issues/6259

@bk201 [PR 779](https://github.com/harvester/harvester-installer/pull/779) seems not the direct cause, but bump package won't hurt.  
[PR 767](https://github.com/harvester/harvester-installer/pull/767) has chance to fix this issue..

## Pre Ready-For-Testing Checklist
* [ ] **If labeled: require/HEP** Has the Harvester Enhancement Proposal PR submitted?
  The HEP PR is at:

* [ ] Where is the reproduce steps/test steps documented?
The reproduce steps/test steps are at:

* [ ] Is there a workaround for the issue? If so, where is it documented?
The workaround is at:

* [x] Have the backend code been merged (harvester, harvester-installer, etc) (including `backport-needed/*`)?
The PR is at: https://github.com/harvester/harvester-installer/pull/767

    * [ ] Does the PR include the explanation for the fix or the feature? 

    * [ ] Does the PR include deployment change (YAML/Chart)? If so, where are the PRs for both YAML file and Chart?
    The PR for the YAML change is at:
    The PR for the chart change is at:


* [ ] **If labeled: area/ui** Has the UI issue filed or ready to be merged?
The UI issue/PR is at:

* [ ] **If labeled: require/doc, require/knowledge-base** Has the necessary document PR submitted or merged?
The documentation/KB PR is at:

<!-- bot will auto create the e2e automation test issue using [the template](https://github.com/harvester/test/issues/new?assignees=&labels=area%2Ftest&template=test.md&title=%5BTEST%5D)) -->
* [ ] **If NOT labeled: not-require/test-plan** Has the e2e test plan been merged? Have QAs agreed on the automation test case? If only test case skeleton w/o implementation, have you created an implementation issue?
    - The automation skeleton PR is at:
    - The automation test case PR is at:

* [ ] **If the fix introduces the code for backward compatibility** Has a separate issue been filed with the label `release/obsolete-compatibility`?
The compatibility issue is filed at:

Automation e2e test issue: harvester/tests#1431

Unfortunately, this bug is caused by a code bug, the VLAN based DHCP does not use the VLAN interface.

A fix https://github.com/harvester/harvester-installer/pull/879 is in review now.

The root cause of this issue is same as https://github.com/harvester/harvester/issues/6959, and https://github.com/harvester/harvester/issues/6959 has been verified on Harvester v1.4.0, refer the validation test: https://github.com/harvester/harvester/issues/6959#issuecomment-2469553979